@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #f5f4f9;
  width: 100%;
}

.lock {
  overflow: hidden;
}

.body__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
}
.body__wrapper header {
  overflow: hidden;
}
.body__wrapper main {
  flex: 1 0 auto;
}
.body__wrapper footer {
  flex: 0 0 auto;
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 92px;
  font-size: 18px;
}
header .nav .nav__item {
  margin-left: 40px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(239, 239, 239, 0.7);
  transition: 0.3s all;
}
header .nav .nav__item:first-of-type {
  margin-left: 0;
}
header .nav .nav__item:hover {
  color: #fff;
}
header .nav__regist .regist__btn {
  margin-left: 16px;
  padding: 8px 25px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s all;
}
header .nav__regist .regist__btn:first-of-type {
  margin-left: 0;
}
header .nav__regist .regist__btn:hover, header .nav__regist .regist__btn:active {
  background-color: #3b44f6;
  border-color: #3b44f6;
}
header .burger__lines {
  position: relative;
  z-index: 4;
  right: 0;
  padding-right: 40px;
  width: 40px;
  height: 40px;
}
header .burger__lines .burger__item,
header .burger__lines .burger__item::after,
header .burger__lines .burger__item::before {
  position: absolute;
  content: "";
  top: 20px;
  width: 40px;
  height: 4px;
  background-color: #3b44f6;
  transition: 0.3s all;
}
header .burger__lines .burger__item::after {
  top: 15px;
}
header .burger__lines .burger__item::before {
  top: -15px;
}
header .burger__lines.active .burger__item,
header .burger__lines.active .burger__item::after,
header .burger__lines.active .burger__item::before {
  background-color: #000;
}
header .burger__lines.active .burger__item {
  height: 0;
}
header .burger__lines.active .burger__item::before {
  top: 0;
  transform: rotate(135deg);
}
header .burger__lines.active .burger__item::after {
  top: 0;
  transform: rotate(-135deg);
}

@media (max-width: 920px) {
  header {
    padding: 20px 40px;
  }
}
@media (max-width: 768px) {
  .nav,
.nav__regist {
    display: none;
  }
}
.burger__menu {
  display: block;
  position: fixed;
  z-index: 3;
  top: -500%;
  right: 0;
  flex-direction: column;
  width: 65%;
  height: 100vh;
  background-color: #3b44f6;
  transition: 0.6s all;
}
.burger__menu .burger__nav {
  display: flex;
  flex-direction: column;
  margin: 75px auto 0 25px;
}
.burger__menu .burger__nav__item {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin-top: 30px;
  transition: 0.3s all;
}
.burger__menu .burger__nav__item:first-of-type {
  margin-top: 0;
}
.burger__menu .burger__nav__item:hover,
.burger__menu .burger__nav__item :active {
  color: rgba(255, 255, 255, 0.7);
}
.burger__menu .burger__nav__regist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 50px 25px 0 25px;
}
.burger__menu .burger__nav__regist__btn {
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  font-size: 20px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s all;
}
.burger__menu .burger__nav__regist__btn:hover,
.burger__menu .burger__nav__regist__btn :active {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

@media (max-width: 500px) {
  .burger__menu {
    width: 100%;
  }
}
.burger__backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: #3b44f6;
  transition: 0.7s all;
  opacity: 0;
}
.burger__backdrop.shown {
  display: flex;
}
.burger__backdrop.active {
  opacity: 0.5;
}

.burger__menu.active {
  top: 0;
}

@media (min-width: 768px) {
  .burger__menu,
.burger__lines {
    display: none;
  }
}
main {
  width: 100%;
  max-width: 1920px;
}

.swiper-1 {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -3;
  width: 100%;
}
.swiper-1 .swiper-slide {
  width: 100%;
  max-width: 1920px;
}
.swiper-1 .swiper-slide img {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 1080px;
  object-fit: cover;
}
.swiper-1 .swiper-pagination span {
  background-color: #fff;
}
.swiper-1 .swiper-button-next:after,
.swiper-1 .swiper-button-prev:after {
  position: absolute;
  z-index: 1;
  font-size: 22px;
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-1 .swiper-button-prev:after {
  left: 15px;
  color: #fff;
}
.swiper-1 .swiper-button-next:after {
  right: 15px;
  color: #fff;
}
.swiper-1 .swiper-button-next::before,
.swiper-1 .swiper-button-prev::before {
  position: absolute;
  z-index: 1;
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s all;
}
.swiper-1 .swiper-button-prev::before {
  left: 0;
}
.swiper-1 .swiper-button-next::before {
  right: 0;
}
.swiper-1 .swiper-button-next:hover::before,
.swiper-1 .swiper-button-prev:hover::before,
.swiper-1 .swiper-button-next:active::before,
.swiper-1 .swiper-button-prev:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-next::before,
.swiper-button-prev::before {
    display: none;
  }
}
.swiper-1 .banner__content {
  position: absolute;
  z-index: 2;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 92px;
}
.swiper-1 .banner__content .banner__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  max-width: 500px;
}
.swiper-1 .banner__content .banner__info h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 148%;
}
.swiper-1 .banner__content .banner__info p {
  margin-top: 17px;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
.swiper-1 .banner__content .banner__info .get__btn {
  margin-top: 64px;
  padding: 16px 32px;
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s all;
}
.swiper-1 .banner__content .banner__info .get__btn:first-of-type {
  margin-left: 0;
}
.swiper-1 .banner__content .banner__info .get__btn:hover, .swiper-1 .banner__content .banner__info .get__btn:active {
  background-color: #3b44f6;
  border-color: #3b44f6;
}

@media (max-width: 500px) {
  .swiper-1 .banner__content {
    padding: 0 25px;
  }
  .swiper-1 .banner__content .banner__info h1 {
    font-size: 36px;
  }
  .swiper-1 .banner__content .banner__info p {
    font-size: 18px;
  }
}
.container {
  padding: 0 92px;
  background-color: #f5f4f9;
}
.container .official__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  color: #181818;
}
.container .official__block .official__title {
  max-width: 500px;
  text-align: center;
}
.container .official__block .official__title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 140%;
}
.container .official__block .official__title p {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.container .official__block .official__image {
  margin-top: 60px;
  width: 100%;
  max-width: 920px;
  display: flex;
  justify-content: space-around;
}
.container .official__block p {
  text-align: center;
  max-width: 250px;
  margin-top: 21px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

@media (max-width: 500px) {
  .container {
    padding: 0 25px;
  }
  .container .official__block .official__title h2 {
    font-size: 28px;
  }
  .container .official__block .official__image {
    margin-top: 30px;
  }
  .container .official__block .official__image img {
    width: 25%;
  }
}
.container .genres {
  margin-top: 130px;
}
.container .genres .genres__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  line-height: 150%;
}
.container .genres .genres__title h1 {
  font-size: 36px;
  color: #181818;
}
.container .genres .genres__title a {
  font-size: 18px;
  text-decoration: none;
  color: #3b44f6;
}
.container .genres .genres__image {
  display: flex;
  justify-content: space-between;
  margin: 24px auto 0 auto;
  width: 100%;
  gap: 16px;
}
.container .genres .genres__image .image__item {
  display: block;
  position: relative;
  z-index: 2;
  text-decoration: none;
  width: 16.6666666667%;
  height: auto;
  color: #fff;
}
.container .genres .genres__image .image__item img {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px;
  object-fit: cover;
}
.container .genres .genres__image .image__item p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
}
.container .genres .genres__image .image__item:hover p {
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1200px) {
  .container .genres .genres__image {
    flex-wrap: wrap;
  }
  .container .genres .genres__image .image__item {
    width: calc(33.3333333333% - 15px);
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
  .container .genres .genres__title h1 {
    font-size: 28px;
  }
  .container .genres .genres__title a {
    font-size: 16px;
  }
  .container .genres .genres__title .image__item p {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .container .genres .genres__title h1 {
    font-size: 22px;
  }
  .container .genres .genres__title a {
    font-size: 14px;
  }
  .container .genres .genres__image .image__item {
    width: calc(50% - 10px);
  }
  .container .genres .genres__image .image__item p {
    font-size: 22px;
  }
}
@media (max-width: 360px) {
  .container .genres .genres__title h1 {
    font-size: 18px;
  }
  .container .genres .genres__title a {
    font-size: 12px;
  }
  .container .genres .genres__image .image__item {
    width: 100%;
  }
  .container .genres .genres__image .image__item p {
    font-size: 32px;
  }
}/*# sourceMappingURL=style.css.map */