@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #f5f4f9;
  width: 100%;
}

.lock {
  overflow: hidden;
}

.body__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
}
.body__wrapper header {
  overflow: hidden;
}
.body__wrapper main {
  flex: 1 0 auto;
}
.body__wrapper footer {
  flex: 0 0 auto;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 92px;
  font-size: 18px;
  background-color: #181c5e;
}
header .nav .nav__item {
  margin-left: 40px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(239, 239, 239, 0.7);
  transition: 0.3s all;
}
header .nav .nav__item:first-of-type {
  margin-left: 0;
}
header .nav .nav__item:hover {
  color: #fff;
}
header .nav__regist .regist__btn {
  margin-left: 16px;
  padding: 8px 25px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s all;
}
header .nav__regist .regist__btn:first-of-type {
  margin-left: 0;
}
header .nav__regist .regist__btn:hover, header .nav__regist .regist__btn:active {
  background-color: #3b44f6;
  border-color: #3b44f6;
}
header .burger__lines {
  position: relative;
  z-index: 4;
  top: 10px;
  right: -10px;
  padding-right: 40px;
  width: 60px;
  height: 60px;
}
header .burger__lines .burger__item,
header .burger__lines .burger__item::after,
header .burger__lines .burger__item::before {
  position: absolute;
  content: "";
  top: 20px;
  width: 40px;
  height: 4px;
  background-color: #3b44f6;
  transition: 0.3s all;
}
header .burger__lines .burger__item::after {
  top: 15px;
}
header .burger__lines .burger__item::before {
  top: -15px;
}
header .burger__lines.active .burger__item,
header .burger__lines.active .burger__item::after,
header .burger__lines.active .burger__item::before {
  background-color: #000;
}
header .burger__lines.active .burger__item {
  height: 0;
}
header .burger__lines.active .burger__item::before {
  top: 0;
  transform: rotate(135deg);
}
header .burger__lines.active .burger__item::after {
  top: 0;
  transform: rotate(-135deg);
}

@media (max-width: 920px) {
  header {
    padding: 20px 40px;
  }
}
@media (max-width: 768px) {
  .nav,
.nav__regist {
    display: none;
  }
}
.burger__menu {
  display: block;
  position: fixed;
  z-index: 3;
  top: -500%;
  right: 0;
  flex-direction: column;
  width: 65%;
  height: 100vh;
  background-color: #3b44f6;
  transition: 0.6s all;
}
.burger__menu .burger__nav {
  display: flex;
  flex-direction: column;
  margin: 75px auto 0 25px;
}
.burger__menu .burger__nav__item {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin-top: 30px;
  transition: 0.3s all;
}
.burger__menu .burger__nav__item:first-of-type {
  margin-top: 0;
}
.burger__menu .burger__nav__item:hover,
.burger__menu .burger__nav__item :active {
  color: rgba(255, 255, 255, 0.7);
}
.burger__menu .burger__nav__regist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 50px 25px 0 25px;
}
.burger__menu .burger__nav__regist__btn {
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  font-size: 20px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s all;
}
.burger__menu .burger__nav__regist__btn:hover,
.burger__menu .burger__nav__regist__btn :active {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

@media (max-width: 500px) {
  .burger__menu {
    width: 100%;
  }
}
.burger__backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: #3b44f6;
  transition: 0.7s all;
  opacity: 0;
}
.burger__backdrop.shown {
  display: flex;
}
.burger__backdrop.active {
  opacity: 0.5;
}

.burger__menu.active {
  top: 0;
}

@media (min-width: 768px) {
  .burger__menu,
.burger__lines {
    display: none;
  }
}
main {
  width: 100%;
  max-width: 1920px;
}

.modal {
  display: block;
  position: absolute;
  top: -100%;
  width: 100%;
  z-index: 2;
  height: 100vh;
  transition: 0.7s all;
  opacity: 0;
}
.modal.active {
  top: 0;
  opacity: 1;
}
.modal .modal__conteiner {
  transition: 1s all;
  position: relative;
}
.modal .modal__backdrop {
  display: none;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100vh;
  cursor: pointer;
  background-color: rgba(59, 68, 246, 0.3);
  opacity: 0;
}
.modal .modal__backdrop.shown {
  display: block;
  transition: 0.5s all;
}
.modal .modal__backdrop.active {
  opacity: 1;
}
.modal .modal__content {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 50%;
  background-color: #181818;
}
.modal .modal__content .modal__body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
}
.modal .modal__content .modal__body .modal__close {
  position: absolute;
  right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.modal .modal__content .modal__body .modal__close:hover .close__line::after {
  transform: rotate(-135deg);
  background: #3b44f6;
}
.modal .modal__content .modal__body .modal__close:hover .close__line::before {
  transform: rotate(-225deg);
  background: #3b44f6;
}
.modal .modal__content .modal__body .modal__close .close__line {
  position: absolute;
  top: 50%;
  transform: translate(50%);
}
.modal .modal__content .modal__body .modal__close .close__line::after, .modal .modal__content .modal__body .modal__close .close__line::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: 0.5s all;
}
.modal .modal__content .modal__body .modal__close .close__line::after {
  transform: rotate(45deg);
}
.modal .modal__content .modal__body .modal__close .close__line::before {
  transform: rotate(-45deg);
}
.modal .modal__content .modal__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}
.modal .modal__content .modal__block .modal__title {
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.modal .modal__content .modal__block .form__block {
  margin-top: 15px;
  width: 100%;
}
.modal .modal__content .modal__block .form__block .input__item {
  position: relative;
  margin-top: 10px;
}
.modal .modal__content .modal__block .form__block .input__item::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 3px;
  background-color: #3b44f6;
  transition: 0.5s all;
}
.modal .modal__content .modal__block .form__block .input__item:hover::after {
  width: 100%;
}
.modal .modal__content .modal__block .form__block .input__item:focus-within::after {
  width: 100%;
}
.modal .modal__content .modal__block .form__block .input__item .input {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  outline: none;
  transition: 0.3s all;
}
.modal .modal__content .modal__block .form__block .input__item .input::placeholder {
  transition: 0.3s all;
  font-size: 16px;
}
.modal .modal__content .modal__block .form__block .input__item .input:focus .input__item::after {
  width: 100%;
}
.modal .modal__content .modal__block .form__block .input__item .input:focus::placeholder {
  color: #3b44f6;
}
.modal .modal__content .modal__block .modal__enter {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.modal .modal__content .modal__block .modal__enter .modal__button {
  background-color: rgba(59, 68, 246, 0);
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 8px 32px;
  cursor: pointer;
  transition: 0.3s all;
}
.modal .modal__content .modal__block .modal__enter .modal__button:hover, .modal .modal__content .modal__block .modal__enter .modal__button:active {
  background-color: rgb(59, 68, 246);
  border: 2px solid #3b44f6;
}
.modal .modal__content .modal__block .sign__link {
  position: relative;
  margin-top: 35px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all;
}
.modal .modal__content .modal__block .sign__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  transition: 0.3s all;
}
.modal .modal__content .modal__block .sign__link:hover {
  color: #3b44f6;
}
.modal .modal__content .modal__block .sign__link:hover::after {
  width: 50%;
  background-color: #3b44f6;
}

.swiper-1 {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -3;
  width: 100%;
}
.swiper-1 .swiper-wrapper {
  position: relative;
}
.swiper-1 .swiper-wrapper .swiper-slide {
  width: 100%;
  max-width: 1920px;
}
.swiper-1 .swiper-wrapper .swiper-slide img {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 1080px;
  object-fit: cover;
}
.swiper-1 .swiper-wrapper .swiper-pagination span {
  background-color: #fff;
}
.swiper-1 .swiper-wrapper .swiper-button-next:after,
.swiper-1 .swiper-wrapper .swiper-button-prev:after {
  position: absolute;
  z-index: 1;
  font-size: 22px;
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-1 .swiper-wrapper .swiper-button-prev:after {
  left: 15px;
  color: #fff;
}
.swiper-1 .swiper-wrapper .swiper-button-next:after {
  right: 15px;
  color: #fff;
}
.swiper-1 .swiper-wrapper .swiper-button-next::before,
.swiper-1 .swiper-wrapper .swiper-button-prev::before {
  position: absolute;
  z-index: 1;
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s all;
}
.swiper-1 .swiper-wrapper .swiper-button-prev::before {
  left: 0;
}
.swiper-1 .swiper-wrapper .swiper-button-next::before {
  right: 0;
}
.swiper-1 .swiper-wrapper .swiper-button-next:hover::before,
.swiper-1 .swiper-wrapper .swiper-button-prev:hover::before,
.swiper-1 .swiper-wrapper .swiper-button-next:active::before,
.swiper-1 .swiper-wrapper .swiper-button-prev:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.swiper-1 .swiper-pagination {
  position: absolute;
  bottom: 48px !important;
}
.swiper-1 .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(239, 239, 239, 0.2);
}
.swiper-1 .swiper-pagination .swiper-pagination-bullet-active {
  background: #3b44f6;
}

@media (max-width: 768px) {
  .swiper-1 .swiper-button-next::after,
.swiper-1 .swiper-button-prev::after,
.swiper-1 .swiper-button-next::before,
.swiper-1 .swiper-button-prev::before {
    display: none;
  }
}
.swiper-1 .banner__content {
  position: absolute;
  z-index: 2;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 92px;
}
.swiper-1 .banner__content .banner__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  max-width: 500px;
}
.swiper-1 .banner__content .banner__info h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 148%;
}
.swiper-1 .banner__content .banner__info p {
  margin-top: 17px;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
.swiper-1 .banner__content .banner__info .get__btn {
  margin-top: 64px;
  padding: 16px 32px;
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s all;
}
.swiper-1 .banner__content .banner__info .get__btn:first-of-type {
  margin-left: 0;
}
.swiper-1 .banner__content .banner__info .get__btn:hover, .swiper-1 .banner__content .banner__info .get__btn:active {
  background-color: #3b44f6;
  border-color: #3b44f6;
}

@media (max-width: 500px) {
  .swiper-1 .banner__content {
    padding: 0 25px;
  }
  .swiper-1 .banner__content .banner__info h1 {
    font-size: 36px;
  }
  .swiper-1 .banner__content .banner__info p {
    font-size: 18px;
  }
}
.container {
  padding: 0 92px;
  background-color: #f5f4f9;
}
.container .official__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  color: #181818;
}
.container .official__block .official__title {
  max-width: 500px;
  text-align: center;
}
.container .official__block .official__title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 140%;
}
.container .official__block .official__title p {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.container .official__block .official__image {
  margin-top: 60px;
  width: 100%;
  max-width: 920px;
  display: flex;
  justify-content: space-around;
}
.container .official__block p {
  text-align: center;
  max-width: 250px;
  margin-top: 21px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

@media (max-width: 500px) {
  .container {
    padding: 0 25px;
  }
  .container .official__block .official__title h2 {
    font-size: 28px;
  }
  .container .official__block .official__image {
    margin-top: 30px;
  }
  .container .official__block .official__image img {
    width: 25%;
  }
}
.container .genres {
  margin-top: 130px;
}
.container .genres .genres__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  line-height: 150%;
}
.container .genres .genres__title h2 {
  font-size: 36px;
  font-weight: 600;
  color: #181818;
}
.container .genres .genres__title a {
  font-size: 18px;
  text-decoration: none;
  color: #3b44f6;
}
.container .genres .genres__image {
  display: flex;
  justify-content: space-between;
  margin: 24px auto 0 auto;
  width: 100%;
  gap: 16px;
}
.container .genres .genres__image .image__item {
  display: block;
  position: relative;
  z-index: 2;
  text-decoration: none;
  width: 16.6666666667%;
  height: auto;
  color: #fff;
}
.container .genres .genres__image .image__item img {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px;
  object-fit: cover;
}
.container .genres .genres__image .image__item p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
}
.container .genres .genres__image .image__item:hover p {
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1200px) {
  .container .genres .genres__image {
    flex-wrap: wrap;
  }
  .container .genres .genres__image .image__item {
    width: calc(33.3333333333% - 15px);
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
  .container .genres .genres__title h2 {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .container .genres {
    margin-top: 50px;
  }
  .container .genres .genres__title h2 {
    font-size: 22px;
  }
  .container .genres .genres__title a {
    font-size: 14px;
  }
  .container .genres .genres__image .image__item {
    width: calc(50% - 10px);
  }
  .container .genres .genres__image .image__item p {
    font-size: 22px;
  }
}
@media (max-width: 360px) {
  .container .genres .genres__title h2 {
    font-size: 18px;
  }
  .container .genres .genres__title a {
    font-size: 12px;
  }
  .container .genres .genres__image .image__item p {
    font-size: 12px;
  }
}
.best__seller {
  margin-top: 80px;
}
.best__seller h3 {
  font-size: 36px;
  font-weight: 600;
  color: #181818;
}
.best__seller .swiper-2 {
  margin-top: 28px;
}
.best__seller .swiper-2 .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best__seller .swiper-2 .swiper-slide .slide-block {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0 16px;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  gap: 15px;
}
.best__seller .swiper-2 .swiper-slide .slide-block img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.best__seller .swiper-2 .swiper-slide .slide-block .slide-title {
  margin: 15px 0 24px 0;
}
.best__seller .swiper-2 .swiper-slide .slide-block .slide-title .slide-name {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
  color: #181818;
  transition: 0.3s all;
}
.best__seller .swiper-2 .swiper-slide .slide-block .slide-title .slide-name:hover,
.best__seller .swiper-2 .swiper-slide .slide-block .slide-title .slide-name:active {
  color: #3b44f6;
}
.best__seller .swiper-2 .swiper-slide .slide-block .slide-title .price-block {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.best__seller .swiper-2 .swiper-slide .slide-block .slide-title .price-block .free__download {
  padding: 4px 10px;
  font-size: 18px;
  background-color: rgba(59, 68, 246, 0.3);
  color: #3b44f6;
  border-radius: 4px;
}
.best__seller .swiper-2 .swiper-slide .slide-block .slide-title .price-block .priсe {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: #3b44f6;
}
.best__seller .swiper-2 .swiper-slide .slide-block .slide-title .price-block .sale__priсe .percent__priсe {
  font-size: 12px;
  background-color: rgba(252, 50, 111, 0.2);
  color: #fc326f;
  padding: 3px;
  border-radius: 4px;
}
.best__seller .swiper-2 .swiper-slide .slide-block .slide-title .price-block .sale__priсe .prev__priсe {
  font-size: 12px;
  padding: 3px;
  background-color: #f5f4f9;
  color: #7d7d7d;
  border-radius: 4px;
  text-decoration: line-through;
}
.best__seller .swiper-2 .swiper-button-next {
  right: 15px;
}
.best__seller .swiper-2 .swiper-button-next::after {
  right: 5px;
}
.best__seller .swiper-2 .swiper-button-prev {
  left: 15px;
}
.best__seller .swiper-2 .swiper-button-prev::after {
  left: 5px;
}
.best__seller .swiper-2 .swiper-button-next::after,
.best__seller .swiper-2 .swiper-button-prev::after {
  position: absolute;
  z-index: 3;
  font-size: 26px;
}
.best__seller .swiper-2 .swiper-button-next::before,
.best__seller .swiper-2 .swiper-button-prev::before {
  position: absolute;
  z-index: 2;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #fff;
  border: 1px solid #3b44f6;
  border-radius: 50%;
}
.best__seller .swiper-2 .swiper-pagination {
  display: none;
}

@media (max-width: 1400px) {
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .slide-name {
    font-size: 15px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .price-block .free__download {
    font-size: 14px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .price-block .priсe {
    font-size: 14px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .price-block .sale__priсe .percent__priсe {
    font-size: 8px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .price-block .sale__priсe .prev__priсe {
    font-size: 8px;
  }
}
@media (max-width: 1400px) and (max-width: 768px) {
  .container .best__seller h3 {
    font-size: 26px;
  }
}
@media (max-width: 1400px) and (max-width: 500px) {
  .container .best__seller {
    margin-top: 50px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper {
    margin-bottom: 25px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block {
    width: 100%;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .slide-name {
    font-size: 28px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .price-block .free__download {
    font-size: 18px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .price-block .priсe {
    font-size: 18px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .price-block .sale__priсe .percent__priсe {
    font-size: 18px;
  }
  .container .best__seller .swiper-2 .swiper-wrapper .swiper-slide .slide-block .slide-title .price-block .sale__priсe .prev__priсe {
    font-size: 12px;
  }
  .container .best__seller .swiper-2 .swiper-button-next,
.container .best__seller .swiper-2 .swiper-button-prev {
    display: none;
  }
  .container .best__seller .swiper-2 .swiper-pagination {
    display: block;
    bottom: 0px;
  }
}
@media (max-width: 360px) {
  .container .best__seller h3 {
    font-size: 18px;
  }
}
.container .popular {
  margin-top: 84px;
}
.container .popular .block__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  line-height: 150%;
}
.container .popular .block__title h2 {
  font-size: 36px;
  font-weight: 600;
  color: #181818;
}
.container .popular .block__title a {
  font-size: 18px;
  text-decoration: none;
  color: #3b44f6;
}
.container .popular .offers__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  gap: 16px;
}
.container .popular .offers__content .offers-block {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0 16px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #fff;
  width: calc(25% - 16px);
  transition: 0.3s all;
}
.container .popular .offers__content .offers-block:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.container .popular .offers__content .offers-block img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.3s all;
}
.container .popular .offers__content .offers-block img:hover {
  opacity: 0.7;
}
.container .popular .offers__content .offers-block .offers-title {
  margin: 15px 0 24px 0;
}
.container .popular .offers__content .offers-block .offers-title .offers-name {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
  color: #181818;
  transition: 0.3s all;
}
.container .popular .offers__content .offers-block .offers-title .offers-name:hover,
.container .popular .offers__content .offers-block .offers-title .offers-name:active {
  color: #3b44f6;
}
.container .popular .offers__content .offers-block .offers-title .price-block {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.container .popular .offers__content .offers-block .offers-title .price-block .free__download {
  padding: 4px 10px;
  font-size: 18px;
  background-color: rgba(59, 68, 246, 0.3);
  color: #3b44f6;
  border-radius: 4px;
  text-align: center;
}
.container .popular .offers__content .offers-block .offers-title .price-block .priсe {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: #3b44f6;
}
.container .popular .offers__content .offers-block .offers-title .price-block .sale__priсe .percent__priсe {
  font-size: 12px;
  background-color: rgba(252, 50, 111, 0.2);
  color: #fc326f;
  padding: 3px;
  border-radius: 4px;
}
.container .popular .offers__content .offers-block .offers-title .price-block .sale__priсe .prev__priсe {
  font-size: 12px;
  padding: 3px;
  background-color: #f5f4f9;
  color: #7d7d7d;
  border-radius: 4px;
  text-decoration: line-through;
}

@media (max-width: 1200px) {
  .container .popular .offers__content {
    justify-content: flex-start;
  }
  .container .popular .offers__content .offers-block {
    width: calc(33.3333333333% - 16px);
  }
}
@media (max-width: 950px) {
  .container .popular .offers__content .offers-block {
    width: calc(50% - 16px);
  }
}
@media (max-width: 768px) {
  .container .popular .block__title h2 {
    font-size: 26px;
  }
  .container .popular .offers__content .offers-block .offers-title .offers-name {
    font-size: 15px;
  }
  .container .popular .offers__content .offers-block .offers-title .price-block {
    flex-wrap: wrap;
  }
  .container .popular .offers__content .offers-block .offers-title .price-block .free__download {
    font-size: 14px;
  }
  .container .popular .offers__content .offers-block .offers-title .price-block .priсe {
    font-size: 14px;
  }
  .container .popular .offers__content .offers-block .offers-title .price-block .sale__priсe .percent__priсe {
    font-size: 8px;
  }
  .container .popular .offers__content .offers-block .offers-title .price-block .sale__priсe .prev__priсe {
    font-size: 8px;
  }
}
@media (max-width: 500px) {
  .container .popular {
    margin-top: 50px;
  }
  .container .popular .block__title h2 {
    font-size: 22px;
  }
  .container .popular .block__title a {
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .container .popular .block__title h2 {
    font-size: 18px;
  }
  .container .popular .block__title a {
    font-size: 12px;
  }
}
.coming__soon {
  margin-top: 100px;
  background-color: #0e0e0e;
}
.coming__soon .soon {
  padding: 50px 92px 80px 92px;
  color: #f5f4f9;
}
.coming__soon .soon .soon__title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 140%;
}
.coming__soon .soon .soon__content {
  display: flex;
  gap: 16px;
  margin-top: 30px;
  height: 100%;
}
.coming__soon .soon .soon__content .content__left {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}
.coming__soon .soon .soon__content .content__left .left__item {
  position: relative;
  height: 50%;
}
.coming__soon .soon .soon__content .content__left .left__item:hover img {
  opacity: 0.3;
}
.coming__soon .soon .soon__content .content__left .left__item img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 0.3s all;
}
.coming__soon .soon .soon__content .content__left .left__item .inner__title {
  position: absolute;
  z-index: 2;
  bottom: 15%;
  left: 5%;
}
.coming__soon .soon .soon__content .content__left .left__item .inner__title h3 {
  width: 75%;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  text-shadow: 4px 5px #000;
}
.coming__soon .soon .soon__content .content__left .left__item .inner__title .pre__order__btn {
  margin-top: 32px;
  padding: 9px 16px;
  max-width: 140px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s all;
}
.coming__soon .soon .soon__content .content__left .left__item .inner__title .pre__order__btn:hover, .coming__soon .soon .soon__content .content__left .left__item .inner__title .pre__order__btn:active {
  background-color: #3b44f6;
  border-color: #3b44f6;
}
.coming__soon .content__right {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}
.coming__soon .content__right .right__item {
  position: relative;
  height: 33.3333333333%;
}
.coming__soon .content__right .right__item:hover img {
  opacity: 0.3;
}
.coming__soon .content__right .right__item img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 0.3s all;
}
.coming__soon .content__right .right__item .inner__title {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 5%;
}
.coming__soon .content__right .right__item .inner__title h3 {
  width: 75%;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  text-shadow: 4px 5px #000;
}
.coming__soon .content__right .right__item .inner__title .pre__order__btn {
  margin-top: 24px;
  padding: 9px 16px;
  max-width: 140px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s all;
}
.coming__soon .content__right .right__item .inner__title .pre__order__btn:hover, .coming__soon .content__right .right__item .inner__title .pre__order__btn:active {
  background-color: #3b44f6;
  border-color: #3b44f6;
}

@media (max-width: 1400px) {
  .coming__soon .soon .soon__content .content__left .left__item .inner__title h3 {
    font-size: 24px;
  }
  .coming__soon .soon .soon__content .content__left .left__item .inner__title .pre__order__btn {
    margin-top: 3%;
  }
  .coming__soon .soon .soon__content .content__right .right__item .inner__title h3 {
    font-size: 22px;
  }
  .coming__soon .soon .soon__content .content__right .right__item .inner__title .pre__order__btn {
    margin-top: 3%;
  }
}
@media (max-width: 900px) {
  .coming__soon .soon .soon__content .content__left .left__item .inner__title {
    bottom: 5%;
  }
  .coming__soon .soon .soon__content .content__left .left__item .inner__title h3 {
    font-size: 20px;
  }
  .coming__soon .soon .soon__content .content__right .right__item .inner__title {
    bottom: 5%;
  }
  .coming__soon .soon .soon__content .content__right .right__item .inner__title h3 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .coming__soon {
    margin-top: 30px;
  }
  .coming__soon .soon {
    padding: 50px 25px 50px 25px;
  }
  .coming__soon .soon .soon__content .content__left .left__item .inner__title h3 {
    font-size: 18px;
  }
  .coming__soon .soon .soon__content .content__left .left__item .inner__title .pre__order__btn {
    margin-top: 2%;
  }
  .coming__soon .soon .soon__content .content__right .right__item .inner__title h3 {
    font-size: 12px;
  }
  .coming__soon .soon .soon__content .content__right .right__item .inner__title .pre__order__btn {
    padding: 6px 12px;
    max-width: 100px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    font-size: 10px;
    margin-top: 1%;
  }
}
@media (max-width: 500px) {
  .coming__soon .soon .soon__content .content__left .left__item .inner__title h3 {
    font-size: 12px;
  }
  .coming__soon .soon .soon__content .content__right .right__item .inner__title h3 {
    font-size: 8px;
  }
}
.container .satisfied {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .satisfied .satisfied__title {
  text-align: center;
  color: #181818;
}
.container .satisfied .satisfied__title h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
}
.container .satisfied .satisfied__title p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  max-width: 500px;
}
.container .satisfied .swiper-3 {
  margin-top: 50px;
  margin-bottom: 120px;
  width: 100%;
}
.container .satisfied .swiper-3 .swiper-wrapper {
  width: 100%;
  margin-bottom: 50px;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide {
  width: 100%;
  background-color: #fff;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__avatar {
  margin: 32px auto 0 auto;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__avatar img {
  width: 100%;
  max-width: 90px;
  height: auto;
  object-fit: cover;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #181818;
  margin: 24px;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title .avatar__grade {
  margin-top: 10px;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title .avatar__grade img {
  width: 16px;
  height: 16px;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title .avatar__grade .half__of__star {
  width: 16px;
  height: 16px;
  opacity: 0.5;
}
.container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 134%;
  text-align: center;
}
.container .satisfied .swiper-3 .swiper-button-next,
.container .satisfied .swiper-3 .swiper-button-prev {
  position: absolute;
  top: 10%;
  width: calc(33.3333333333% - 60px);
  height: 80%;
  cursor: pointer;
}
.container .satisfied .swiper-3 .swiper-button-next::after,
.container .satisfied .swiper-3 .swiper-button-prev::after {
  display: none;
}
.container .satisfied .swiper-3 .swiper-button-next {
  right: 3%;
}
.container .satisfied .swiper-3 .swiper-button-prev {
  left: 3%;
}
.container .satisfied .swiper-pagination {
  position: absolute;
  bottom: 0;
}
.container .satisfied .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.container .satisfied .swiper-pagination .swiper-pagination-bullet-active {
  background: #3b44f6;
}

@media (max-width: 1200px) {
  .container .satisfied {
    padding: 0;
  }
  .container .satisfied .swiper-3 .swiper-button-next,
.container .satisfied .swiper-3 .swiper-button-prev {
    width: calc(33.3333333333% - 45px);
  }
}
@media (max-width: 900px) {
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title h3 {
    font-size: 16px;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title .avatar__grade img {
    width: 12px;
    height: 12px;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title .avatar__grade .half__of__star {
    width: 12px;
    height: 12px;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title p {
    font-size: 12px;
  }
  .container .satisfied .swiper-3 .swiper-button-next,
.container .satisfied .swiper-3 .swiper-button-prev {
    width: calc(33.3333333333% - 35px);
  }
}
@media (max-width: 768px) {
  .container .satisfied .swiper-3 {
    padding: 0 75px;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide {
    width: 70%;
    text-align: center;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title {
    width: 75%;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title h3 {
    font-size: 20px;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title p {
    font-size: 14px;
  }
  .container .satisfied .swiper-3 .swiper-button-next,
.container .satisfied .swiper-3 .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 500px) {
  .container .satisfied .swiper-3 {
    padding: 0 25px;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title h3 {
    font-size: 20px;
  }
  .container .satisfied .swiper-3 .swiper-wrapper .swiper-slide .swiper__content .swiper__title p {
    font-size: 14px;
  }
  .container .satisfied .swiper-3 .swiper-button-next,
.container .satisfied .swiper-3 .swiper-button-prev {
    display: none;
  }
}
footer {
  background-color: #0e0e0e;
  padding: 0 92px;
  width: 100%;
}
footer .footer__content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
footer .footer__content .block__item {
  display: flex;
  flex-direction: column;
}
footer .footer__content .block__item .logo__link {
  transition: 0.3s all;
}
footer .footer__content .block__item .logo__link:hover {
  opacity: 0.7;
}
footer .footer__content .block__item .item__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #f5f4f9;
}
footer .footer__content .block__item .footer__link {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #a0a0a0;
  text-decoration: none;
  transition: 0.3s all;
}
footer .footer__content .block__item .footer__link:first-of-type {
  margin-top: 0;
}
footer .footer__content .block__item .footer__link:hover {
  color: #fff;
}
footer .footer__content .block__follow .img__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer__content .block__follow .img__link .footer__image {
  position: relative;
  z-index: 2;
  margin-left: 12px;
  width: 20px;
  height: 20px;
  transition: 0.3s all;
  cursor: pointer;
  opacity: 0.7;
}
footer .footer__content .block__follow .img__link .footer__image:first-of-type {
  margin-left: 0;
}
footer .footer__content .block__follow .img__link .footer__image:hover {
  opacity: 1;
}
footer .footer__copy {
  margin-top: 88px;
  margin-bottom: 22px;
}
footer .footer__copy p {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 144%;
  color: #a0a0a0;
}

@media (max-width: 768px) {
  footer {
    padding: 0 25px;
  }
  footer .footer__content {
    flex-wrap: wrap;
  }
  footer .footer__content .block__item {
    text-align: center;
  }
  footer .footer__content .block__logo {
    display: none;
  }
  footer .footer__content .block__menu {
    flex: 1 1 50%;
  }
  footer .footer__content .block__resources {
    flex: 1 1 50%;
  }
  footer .footer__content .block__follow {
    flex: 1 1 100%;
    margin-top: 25px;
  }
  footer .footer__content .block__follow .img__link .footer__image {
    width: 35px;
    height: 35px;
    margin-left: 25px;
  }
  footer .footer__content .block__follow .img__link .footer__image:first-of-type {
    margin-left: 0px;
  }
  footer .footer__copy {
    margin-top: 25px;
  }
}
@media (max-width: 300px) {
  footer .footer__content .block__item h4 {
    font-size: 14px !important;
  }
  footer .footer__content .block__item a {
    font-size: 12px !important;
  }
  footer .footer__content .block__follow .img__link .footer__image {
    width: 25px;
    height: 25px;
    margin-left: 15px;
  }
}/*# sourceMappingURL=style.css.map */