@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

@import '_nullstyle';

body {
  font-family: 'Lexend', sans-serif;
  background-color: #f5f4f9;
  width: 100%;
}

.lock{
  overflow: hidden;
}

.body__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  & header {
    overflow: hidden;
  }
  & main {
    flex: 1 0 auto;
  }

  & footer {
    flex: 0 0 auto;
  }
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 92px;
  font-size: 18px;
  //Navigation

  & .nav {
    & .nav__item {
      margin-left: 40px;
      font-weight: 400;
      text-decoration: none;
      color: rgba(239, 239, 239, 0.7);
      transition: 0.3s all;

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        color: #fff;
      }
    }
  }
  .nav__regist {
    .regist__btn {
      margin-left: 16px;
      padding: 8px 25px;
      background-color: rgba(255, 255, 255, 0);
      color: #fff;
      border-radius: 8px;
      border: 1px solid #fff;
      cursor: pointer;
      transition: 0.3s all;

      &:first-of-type {
        margin-left: 0;
      }

      &:hover,
      &:active {
        background-color: #3b44f6;
        border-color: #3b44f6;
      }
    }
  }

  //Burger Lines and Crosslines
  .burger__lines {
    position: relative;
    z-index: 4;
    right: 0;
        padding-right: 40px;

    .burger__item,
    .burger__item::after,
    .burger__item::before {
      position: absolute;
      content: '';
      width: 40px;
      height: 4px;
      background-color: #3b44f6;
      transition: 0.3s all;
    }

    .burger__item {
      &::after {
        top: 15px;
      }

      &::before {
        top: -15px;
      }
    }
  }

  .burger__lines.active {

    .burger__item,
    .burger__item::after,
    .burger__item::before {
      background-color: #000;
      }

    .burger__item {
      height: 0;

      &::before {
        top: 0;
        transform: rotate(135deg);
      }

      &::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }
}

@media (max-width: 920px) {
  header {
    padding: 20px 40px;
  }
}

@media (max-width: 768px) {
  .nav,
  .nav__regist {
    display: none;
  }
}

//Burger Menu
.burger__menu {
  display: block;
  position: fixed;
  z-index: 3;
  top: -1000%;
  right: 0;
  flex-direction: column;
  width: 65%;
  height: 100vh;
  background-color: #3b44f6;
  transition: 0.3s all;



  .burger__nav {
    display: flex;
    flex-direction: column;
    margin: 75px auto 0 25px;

    &__item{
      text-decoration: none;
      font-size: 25px;
      font-weight: 700;
      color: #fff;
      margin-top: 30px;
      transition: 0.3s all;


      &:first-of-type{
        margin-top: 0;
      }

      &:hover, :active{
        color:rgba(256, 256, 256, 0.7)
      }

    }
  }
  .burger__nav__regist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 25px 0 25px;
    
    &__btn{
      padding: 10px;
      background-color: #fff;
      color: #000;
      border-radius: 8px;
      font-size: 20px;
      border: 1px solid #fff;
      cursor: pointer;
      transition: 0.3s all;

      &:hover, :active{
        background-color: rgba(0, 0, 0, 0);
        color: #fff;

      }
    }
  }
}
@media(max-width: 500px) {
  .burger__menu{
    width: 100%;
  }
}

.burger__backdrop{
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -3;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: 0.7s all;

  &.active {
    display: flex;
    z-index: 1;
    top: 0;
    opacity: .3;
    background-color: #3b44f679;
  }
}

.burger__menu.active {
  top: 0;
}

@media (min-width: 768px) {
  .burger__menu,
  .burger__lines {
    display: none;
  }
}

main {
  width: 100%;
  max-width: 1920px;
}

//Slider Banner
.swiper-1 {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -3;
  width: 100%;
  & .swiper-slide {
    width: 100%;
    max-width: 1920px;
    img {
      width: 100%;
      max-width: 1920px;
      height: 100vh;
      max-height: 1080px;
      object-fit: cover;
    }
  }

  & .swiper-pagination {
    span {
      background-color: #fff;
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    position: absolute;

    z-index: 1;
    font-size: 22px;
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
  }
  .swiper-button-prev:after {
    left: 15px;
    color: #fff;
  }
  .swiper-button-next:after {
    right: 15px;
    color: #fff;
  }

  .swiper-button-next::before,
  .swiper-button-prev::before {
    position: absolute;
    z-index: 1;
    content: '';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s all;
  }
  .swiper-button-prev::before {
    left: 0;
  }
  .swiper-button-next::before {
    right: 0;
  }
  .swiper-button-next:hover::before,
  .swiper-button-prev:hover::before,
  .swiper-button-next:active::before,
  .swiper-button-prev:active::before {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
